*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #EEEEEE;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 360px;
}

.status-bar {
  position: fixed;
}

nav {
  background-color: #E0E0E0;
  margin: 24px auto;
  position: fixed;
  padding-left: 16px;
  padding-top: 32px;
  width: 360px;
  height: 80px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.19)
}

.menu {
  float: left;
}

.title {
  font-size: 2em;
  font-weight: 500;
  padding-left: 56px;
  padding-top: 3px;
}

.walk-time {
  font-size: 1.4em;
  color: #fff;
}

.walk-time-detail {
  background-color: #009688;
  padding: 136px 16px 0px 16px;
  height: 189px;
}

.icon {
  float: left;
}

.walk-time {
  padding: 5px 32px;
}

.bus-list {
  background-color: #FFFFFF;
  padding-top: 16px;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

thead th:nth-child(1) {
  width: 15%;
  text-align: center;
}

thead th:nth-child(2) {
  width: 48%;
}

thead th:nth-child(3) {
  width: 32%;
}

th, td {
  padding: 16px;
}

th {
  text-align: left;
  font-weight: 500;
  font-size: 1.4em;
}

td {
  font-size: 1.4em;
  text-align: left;
  vertical-align: top;
}

tr td:nth-child(1) {
  text-align: center;
  font-weight: bold;
}


.direction {
  font-size: 0.8em;
  line-height: 2;
  text-transform: uppercase;
}

.minute {
  font-size: 1em;
}

.reroute {
  color: red;
}

.out-of-service {
  color: darkgray;
}
